<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology Website">
        
    <meta name="author" content="Rob Seaman">

    <title>Technology Website</title>

    <!-- Local reference, please comment out one or the other -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/technology.css">

    <!-- For external reference or CDN Access
    <link rel="stylesheet" href= "https://dpcf.ihs.com/patternlibrary/public/css/styles.css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 <!-- Page Heading -->


<header class="ihs-header-3 navbar navbar-default navbar-static-top">  
     <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>    -->
      <div class="container clearfix"> 
      
          <div class="brand-menu pull-left" >
              <div class="icon-menu ihs-logo" data-toggle="dropdown"></div>
              <h1><a href="index.html">Technology</a></h1>
              <small>Information | Analytics | Expertise</small>

              <div class="dropdown-menu header">
                    <p><a href="#">IHS.com</a></p>
                    <hr>
                    <ul class="menu-links">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li>One More</li>
                    </ul>
              </div>

          </div>
     
          <ul class="icon-set nav navbar-nav">

             <li class="search-area">
                  <div class="input-group">
                      <span class="input-group-addon reversed" id="ew-caret-picker" data-toggle="dropdown"><span class="ihs-icon-arrow rotate-270"></span></span>
                      <div id="the-basics">
                          <input type="text" class="form-control short typeahead" placeholder="Search IHS Technology">
                      </div>
                      <span class="input-group-addon end" id="ew-date-picker"><span class="ihs-icon-search"></span></span>

                      <div class="dropdown-menu search-filter">
                          <ul>
                              <li><a href="#">My Content</a></li>
                              <li><a href="#">All Content</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li class="icon-area">
                    <div class="icon-menu ihs-icon-help" data-toggle="dropdown">
                    </div>
                    
                    <div class="dropdown-menu header left">
                          <ul class="menu-links">
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                          <hr>
                          <strong>IHS Customer Care</strong>
                          <small>Americas</small>
                          <p class="small">
                          +1800 IHS-CARE (+1 800 477-2273) <br>
                          Mon - Fri 8:00 - 6:00pm 
                          <a href="mailto:customercare@ihs.com" class="email">customercare@ihs.com</a>
                          </p>
                          <small>Europe and the Middle East</small>
                          <p class="small">
                          44 1344 328 300<br>
                          Mon-Fri 8:00am - 6:00pm GMT
                          <a href="mailto:supportapac@ihs.com" class="email">supportapac@ihs.com</a>
                          </p>
                          <small>Asia Pacific</small>
                          <p class="small">
                          +604 291 3600<br>
                          Mon-Fri 8:00am - 6:00pm GMT +8hrs
                          <a href="mailto:customer.support@ihs.com" class="email">customer.support@ihs.com</a>
                          </p>
                    </div>
                </li>
                
                <li class="icon-area">
                      <div class="icon-menu" data-toggle="dropdown">
                        <span class="greeting">Hi User</span>
                      </div>
                       
                       <div class="dropdown-menu header right">
                          
                          <ul class="menu-links">
                              <li><a href="#">Link 1</a></li>
                              <li><a href="#">Link 2</a></li>
                              <li><a href="#">Link 3</a></li>
                          </ul>
                       </div>
                </li>
              </ul>
        
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
    <div class="ihs-menu">
          <div class="container">
              <ul class="nav navbar-nav">
                     <li class="active"><a href="#">Home</a></li>
                      <li class="service-nav"><a href="#">Research by Market</a></li>
                      <li><a href="#">Solutions</a></li>
                      <li><a href="#">Events</a></li>
                      <li><a href="#">Our Experts</a></li>
                      <li class="pull-right"><a href="#">My Content</a></li>
               </ul> 
          </div>
    </div>
    </div>
     
</header>

 <div class="mega-menu">
    <div class="container">
     <div class="row">
      <ul>
        <li><div class="menu-icons" id="auto-tech"></div><h2><a href="index.html">Automotive Technology</a></h2>
            <ul class="list-group">
                <li>
                    <a href="">View All</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="displays"></div><h2>Displays</h2>
            <ul class="list-group">
                <li>
                    <a href="">Display Materials & Components</a>
                    <a href="">Display Manufacturing & Supply Chain</a>
                    <a href="">Large Displays</a>
                    <a href="">Small & Medium Displays</a>
                    <a href="">Touch & Interface</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="enterprise-it"></div><h2>Enterprise & IT</h2>
            <ul class="list-group">
                <li>
                    <a href="">Datacenter & Cloud</a>
                    <a href="">Enterprise Networks & Communication</a>
                    <a href="">Enterprise IT Security</a>
                    <a href="">M2M, IoT & Connectivity</a>
                </li>
            </ul>
        </li>
      </ul>
      </div>
      <div class="row">
      <ul>
        <li><div class="menu-icons" id="healthcare-tech"></div><h2>Healthcare Technology</h2>
            <ul class="list-group">
                <li>
                    <a href="">Healthcare IT Medical Devices & Equipment</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="manufacturing-tech"></div><h2>Manufacturing Technology</h2>
            <ul class="list-group">
                <li>
                    <a href="">Capital Equipment & Machinery</a>
                    <a href="">Discrete & Process Automation</a>
                    <a href="">Electric Motor Systems</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="teardowns-cost"></div><h2>Teardowns & Cost Benchmarking</h2>
            <ul class="list-group">
                <li>
                    <a href="">View All</a>
                </li>
            </ul>
        </li>
      </ul>
      </div>
      <div class="row">
      <ul>
        <li><div class="menu-icons" id="mobile-telecom"></div><h2>Mobile & Telecom</h2>
            <ul class="list-group">
                <li>
                    <a href="">Managed Services</a>
                    <a href="">Mobile Innovation</a>
                    <a href="">Mobile Networks</a>
                    <a href="">Operators & Services</a>
                    <a href="">Service Provider Broadband & Video</a>
                    <a href="">Voice & Data Networks</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="mobile-consumer"></div><h2>Mobile, Consumer & Connected Devices</h2>
            <ul class="list-group">
                <li>
                    <a href="">Consumer Electronics</a>
                    <a href="">Digital Signage</a>
                    <a href="">Lighting</a>
                    <a href="">Mobile Devices</a>
                    <a href="">Smart Home & Appliances</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="power-energy"></div><h2>Power & Energy Technology</h2>
            <ul class="list-group">
                <li>
                    <a href="">Power Supplies & Wireless Charging</a>
                    <a href="">Smart Grid & Energy Storage</a>
                    <a href="">Solar</a>
                </li>
            </ul>
        </li>
      </ul>
      </div>
      <div class="row">
      <ul>
        <li><div class="menu-icons" id="security-tech"></div><h2>Security Technology</h2>
            <ul class="list-group">
                <li>
                    <a href="">Access Control & Fire</a>
                    <a href="">Critical Communications</a>
                    <a href="">Cybersecurity & Digital ID</a>
                    <a href="">Video Surveillance</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="semiconductors"></div><h2>Semiconductors</h2>
            <ul class="list-group">
                <li>
                    <a href="">Memory & Storage</a>
                    <a href="">MEMS & Sensors</a>
                    <a href="">Semiconductor Components</a>
                    <a href="">Semiconductor Manufacturing</a>
                    <a href="">Semiconductor Market</a>
                </li>
            </ul>
        </li>
        <li><div class="menu-icons" id="media-advertising"></div><h2>Media & Advertising</h2>
            <ul class="list-group">
                <li>
                    <a href="">Advertising</a>
                    <a href="">Cinema</a>
                    <a href="">Digital Media</a>
                    <a href="">Games</a>
                    <a href="">TV Media & Content Video</a>
                </li>
            </ul>
        </li>
      </ul>
      </div>
    </div>
</div>

<div class="container-fluid">

<div id="myCarousel" class="carousel slide">
  
    Carousel indicators 
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   
    Carousel items 
   <div class="carousel-inner">
      <div class="item active">
         <div class="tout">
             <h2>The Evolving Internet of Things (IoT)</h2>
             <p class="shim-bottom">Leveraging its unique breadth of industry research, IHS Technology offers the most comprehensive insights and analysis of the IoT evolution.</p>
             <a class="btn btn-default btn-sm shim-right-short" href="https://technology.ihs.com/577019">Learn More</a>
             <a class="btn btn-default btn-sm" href="https://technology.ihs.com/577019">Learn More 2</a>
        </div> 

        <div class="carousel-content-right">
            <img src="http://placehold.it/368x300" alt="First slide">
        </div>
      </div>
      
      <div class="item">
        <div class="tout">
             <h2>Analysis, information and expertise</h2>
             <p>IHS Technology provides analysis, data and expertise on everything from raw materials to networks to consumers.</p>
             <a class="btn btn-default btn-sm" href="https://technology.ihs.com/Research-by-Market">Research by Market</a>
         </div> 

         <div class="carousel-content-right">
            <img src="http://placehold.it/368x250" alt="second slide">
        </div>
      </div>

      <div class="item">
          <div class="tout">
               <h2>IHS Technology Blog</h2>
               <p>Check out the new Technology Blog for unique insights on technology, 
      media and telecommunications from our team of thought leaders.</p>
      <a class="btn btn-default btn-sm" href="http://blog.ihs.com/ihs-technology">Join the Conversation</a>
          </div> 

           <div class="carousel-content-right">
              <img src="http://placehold.it/368x368" alt="third slide">
          </div>
       </div>
    </div>
</div> 

</div>

<!-- Footer -->
        <footer class="ihs-footer-3 navbar-fixed-bottom">
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <small> &copy; COPYRIGHT 2016, IHS Inc. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
                    <ul>
                           <li><a href="">About Us</a></li>
                           <li>|</li>
                           <li><a href="">Terms of Use</a></li>
                           <li>|</li>
                           <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            </div>
            <!-- /.row -->
        </footer>

    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/typeahead.bundle.min.js"></script>

    <script>
      $(".service-nav").hover(
        function(){
                $(".service-nav").addClass("IHS-Color-G5");
                $('.mega-menu').show();
            },function(){
                $(".service-nav").removeClass("IHS-Color-G5");
                $('.mega-menu').hide();
        });
      $(".mega-menu").hover(
        function(){
                $(".service-nav").addClass("IHS-Color-G5");
                $('.mega-menu').show();
            },function(){
                $(".service-nav").removeClass("IHS-Color-G5");
                $('.mega-menu').hide();
        });

// for Type Ahead testing

      var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});


    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
