<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IHS Pattern Library - V1</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/styles.css">    


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="index.html"><img src="https://cdn.ihs.com/Technology/images/ux/ihs-icon-logo.svg"></a>
                <a href="index.html"><h2>IHS Pattern Library - Version 1</h2></a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="atomic">Atoms</li>
                    <li>
                        <a href="colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                     <li>
                        <a href="iconography.html">Icons / Images</a>
                    </li>
                    <li>
                        <a href="forms.html">Forms</a>
                    </li>
                    <li>
                        <a href="tables.html">Tables</a>
                    </li>
                    <li class="atomic">Molecules</li>
                    <li>
                        <a href="menus-tabs-nav.html">Menus, Tabs, Nav</a>
                    </li>
                     <li>
                        <a href="widgets.html">Widgets</a>
                    </li>
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                     <li>
                        <a href="alerts-modals.html">Alerts and Modals</a>
                    </li>
                     
                    <li class="atomic">Organisms</li>
                    <li>
                        <a href="patterns.html">Patterns</a>
                    </li>
                     <li>
                        <a href="charts.html">Charts and Graphs</a>
                    </li>
                     <li>
                        <a href="grids.html">Grids</a>
                    </li>
                    <li class="atomic">Pages/Templates</li>
                    <li>
                        <a href="templates.html">Pages and Templates</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                
                <div class="swatches">
  <h3>Ha</h3>
  <p>Colors for Header, Footer, Dialog Headers, Dropdown and Calendar Selections</p>
  <p>These are broken out because of the desire to offer the
  customer different colorways. This allows us to change the header
  color(s) without impacting anything else.</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-H1"></span>
      <code>ihs-color-h1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H2"></span>
      <code>ihs-color-h2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H3"></span>
      <code>ihs-color-h3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H4"></span>
      <code>ihs-color-h4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H5"></span>
      <code>ihs-color-h5</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H6"></span>
      <code>ihs-color-h6</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H7"></span>
      <code>ihs-color-h7</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H8"></span>
      <code>ihs-color-h8</code>
    </li>
    </ul>
  <!--  
  //// NO LONGER USED  ///////
  <h3>Hb</h3>
  <p>Colors for Header, Footer, Dialog Headers, Dropdown and Calendar Selections</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-HB-H1"></span>
      <code>@IHS-Color-HB-H1/#6D6E70;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H2"></span>
      <code>@IHS-Color-HB-H2/#404041;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H4"></span>
      <code>@IHS-Color-HB-H4/#DBDCDE;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H5"></span>
      <code>@IHS-Color-HB-H5/#A1ABB2;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H6"></span>
      <code>@IHS-Color-HB-H6/#6D6E70;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H7"></span>
      <code>@IHS-Color-HB-H7/#F1F1F2;</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-HB-H8"></span>
      <code>@IHS-Color-HB-H8/#FFFFFF;</code>
    </li>
    </ul> -->
   <h3>O</h3>
  <p>Colors for selectors, form field and disabled buttons</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-O1"></span>
      <code>ihs-color-o1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O2"></span>
      <code>ihs-color-o2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O3"></span>
      <code>ihs-color-o3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O4"></span>
      <code>ihs-color-o4</code>
    </li>
   </ul>
  <h3>Ba</h3>
  <p>Colors for buttons (normal / emphasis)</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-BN1"></span>
      <code>ihs-color-bn1</code>
      Base
    </li>
    <li>
      <span class="swatch-color IHS-Color-BN2"></span>
      <code>ihs-color-bn2</code>
      Hover
    </li>
    <li>
      <span class="swatch-color IHS-Color-BN3"></span>
      <code>ihs-color-bn3</code>
      Hover
    </li>
    <li>
      <span class="swatch-color IHS-Color-BE1"></span>
      <code>ihs-color-be1</code>
      Base
    </li>
    <li>
      <span class="swatch-color IHS-Color-BE2"></span>
      <code>ihs-color-be2</code>
      Hover
    </li>
    <li>
      <span class="swatch-color IHS-Color-BG1"></span>
      <code>ihs-color-bg1</code>
      Base
    </li>
    <li>
      <span class="swatch-color IHS-Color-BG2"></span>
      <code>ihs-color-bg2</code>
      Hover
    </li>
   </ul>
   <h3>G</h3>
   <p>General colors for text and else</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-G1"></span>
      <code>ihs-color-g1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G2"></span>
      <code>ihs-color-g2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G3"></span>
      <code>ihs-color-g3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G4"></span>
      <code>ihs-color-g4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G5"></span>
      <code>ihs-color-g5</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G6"></span>
      <code>ihs-color-g6</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G7"></span>
      <code>ihs-color-g7</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G8"></span>
      <code>ihs-color-g8</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G9"></span>
      <code>ihs-color-g9</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G10"></span>
      <code>ihs-color-g10</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G11"></span>
      <code>ihs-color-g11</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G12"></span>
      <code>ihs-color-g12</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G13"></span>
      <code>ihs-color-g13</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G14"></span>
      <code>ihs-color-g14</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G15"></span>
      <code>ihs-color-g15</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G16"></span>
      <code>ihs-color-g16</code>
    </li> 
   </ul>
   <h3>T</h3>
   <p>Colors for Workspace Tiles</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-T1"></span>
      <code>ihs-color-t1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T2"></span>
      <code>ihs-color-t2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T3"></span>
      <code>ihs-color-t3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T4"></span>
      <code>ihs-color-t4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T5"></span>
      <code>ihs-color-t5</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T6"></span>
      <code>ihs-color-t6</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T7"></span>
      <code>ihs-color-t7</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T8"></span>
      <code>ihs-color-t8</code>
    </li> 
   </ul>
   <h3>H</h3>
   <p>Colors for Highlighting</p>
    <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-L1"></span>
      <code>ihs-color-l1</code>
     </li>
     <li> 
      <span class="swatch-color IHS-Color-L2"></span>
      <code>ihs-color-l2</code>
     </li>
     <li> 
      <span class="swatch-color IHS-Color-L3"></span>
      <code>ihs-color-l3</code>
    </li>
    </ul>
    <h3>N</h3>
     <p>Colors for Notifications</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-N1"></span>
      <code>ihs-color-n1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N2"></span>
      <code>ihs-color-n2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N3"></span>
      <code>ihs-color-n3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N4"></span>
      <code>ihs-color-n4</code>
    </li>
    </ul>
    <h3>D</h3>
     <p>Colors for Table Highlighting and Color Coding</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-D1"></span>
      <code>ihs-color-d1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D2"></span>
      <code>ihs-color-d2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D3"></span>
      <code>ihs-color-d3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D4"></span>
      <code>ihs-color-d4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D5"></span>
      <code>ihs-color-d5</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D6"></span>
      <code>ihs-color-d6</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D7"></span>
      <code>ihs-color-d7</code>
    </li>
    </ul>
    <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-D1A"></span>
      <code>ihs-color-d1a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D2A"></span>
      <code>ihs-color-d2a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D3A"></span>
      <code>ihs-color-d3a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D4A"></span>
      <code>ihs-color-d4a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D5A"></span>
      <code>ihs-color-d5a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D6A"></span>
      <code>ihs-color-d6a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D7A"></span>
      <code>ihs-color-d7a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D8A"></span>
      <code>ihs-color-d8a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D9A"></span>
      <code>ihs-color-d9a</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D10A"></span>
      <code>ihs-color-d10a</code>
    </li>
    </ul>
    <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-D1B"></span>
      <code>ihs-color-d1b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D2B"></span>
      <code>ihs-color-d2b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D4B"></span>
      <code>ihs-color-d4b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D6B"></span>
      <code>ihs-color-d6b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D7B"></span>
      <code>ihs-color-d7b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D8B"></span>
      <code>ihs-color-d8b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D9B"></span>
      <code>ihs-color-d9b</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-D10B"></span>
      <code>ihs-color-d10b</code>
    </li>
    </ul>

   <div class="dont-show">

       <hr class="pl">
       <h3>Bootstrap Framework Colors</h3>
       <p>Native to Bootstrap. Can be used for user messaging and contextual colors</p>
      <ul class="swatches-list">
        <li>
          <span class="swatch-color btn-primary"></span>
          <code>Primary</code>
        </li>
        <li>
          <span class="swatch-color btn-success"></span>
          <code>Success</code>
        </li>
        <li>
          <span class="swatch-color btn-info"></span>
          <code>Info</code>
        </li>
        <li>
          <span class="swatch-color btn-warning"></span>
          <code>Warning</code>
        </li>
        <li>
          <span class="swatch-color btn-danger"></span>
          <code>Danger</code>
        </li>
        </ul>
    </div>
</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    

</body>

</html>
