<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IHS Pattern Library - V1</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/styles.css">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="https://cdn.ihs.com/Technology/images/ux/ihs-icon-logo.svg"></a>
                <a href="index.html"><h2>IHS Pattern Library - Version 1</h2></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> User Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
               
                <ul class="nav navbar-nav side-nav">
                    <li class="atomic">Atoms</li>
                    <li>
                        <a href="colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                     <li>
                        <a href="iconography.html">Icons / Images</a>
                    </li>
                    <li>
                        <a href="lists.html">Lists</a>
                    </li>
                    <li>
                        <a href="forms.html">Forms</a>
                    </li>
                    <li>
                        <a href="tables.html">Tables</a>
                    </li>
                    <li class="atomic">Molecules</li>
                    <li>
                        <a href="menus-tabs-nav.html">Menus, Tabs, Nav</a>
                    </li>
                     <li>
                        <a href="widgets.html">Widgets</a>
                    </li>
                    
                     <li>
                        <a href="alerts-modals.html">Alerts and Modals</a>
                    </li>
                     
                    <li class="atomic">Organisms</li>
                    <li>
                        <a href="patterns.html">Patterns</a>
                    </li>
                     <li>
                        <a href="charts.html">Charts and Graphs</a>
                    </li>
                     <li>
                        <a href="grids.html">Grids</a>
                    </li>
                    <li class="atomic">Pages/Templates</li>
                    <li>
                        <a href="templates.html">Pages and Templates</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Panels and Wells</h1>
<!-- <table class="table table-bordered table-hover table-striped">
<thead>
<tr>
<th>Design Pattern Name</th>
<th>Development Class Name</th>
<th>Link to Pattern</th>
<th>Platform</th>
</tr>
</thead>
<tbody>
<tr>
<td>IHS-Control-Panel (small)</td>
<td><code>control-panel</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Control-Panel-Full</td>
<td><code>control-panel well-sm</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Frosted-Box</td>
<td><code>control-panel well-lg</code></td>
<td></td>
<td></td>
</tr>
</tbody>
</table> -->
                    <h2>Control Panel</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                <code>ihs-control-panel-full</code>
                    <p>For Control Panel container the "well well-sm" class can be used, padding has been altered to reflect the style guide of 0.5 ems for it's content.</p>
                    <div class= "control-panel well-sm">
                        <button type="button" class="btn btn-default">Button</button>
                        <button type="button" class="btn btn-default shim-right">Button</button>
                        <button type="button" class="btn btn-default">Button</button>
                        <button type="button" class="btn btn-emphasis pull-right">Button</button>
                    </div>
                    <br>
                    <code>ihs-control-panel-short</code>
                     <div class= "control-panel well-sm">
                        <button type="button" class="btn btn-default btn-sm">Button</button>
                        <button type="button" class="btn btn-default btn-sm shim-right">Button</button>
                        <button type="button" class="btn btn-default btn-sm">Button</button>
                        <button type="button" class="btn btn-emphasis btn-sm pull-right">Button</button>
                    </div>
                    <br>
                <code>ihs-control-panel-advanced (responsive)</code>
                <div class= "control-panel well-sm" id="advanced">
                    <ul id='contents'>
                        <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                        <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                        <li><button type="button" class="btn btn-inactive btn-sm">Button</button>
                        </li>
                        <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                         <!-- <li>
                            
                        <div class="form-group">
                            <select class="form-control select-menu-short">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                            </select>
                        </div>
                            
                        </li> -->
                         <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                        <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                        <li><button type="button" class="btn btn-default btn-sm">Button</button>
                        </li>
                        <li class="pull-right"><button type="button" class="btn btn-emphasis btn-sm">Button</button>
                        </li>
                        <li class="more hide-it pull-right" data-width="25">
                          <a href="#">
                             <div class="hamburger-menu">
                                    <span class="ihs-icon-menu"></span> 
                             </div>
                        </a>
                        <ul class="menu-hidden"></ul>
                        </li> 
                    </ul>                                   
                </div> 
                 <br>               
                <code>ihs-info-panel</code>
                    <div class= "info-panel">
                            <span class="ihs-icon-info"></span>
                            <h2>Title would go here</h2>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                            <ul class="small">
                             <li><a href="">Collapse</a></li>
                             <li>|</li>
                             <li><a href="">Hide All Instructions</a></li>
                            </ul>   
                                                   
                      </div> 

                      <br>
                      <code>ihs-container-panel (for BOMM Patterns - <strong>to be named</strong>)</code>
                      <div class="control-panel">
                        <div class="row">       
                                <div class="col-xs-3 col-md-3">
                                    <strong>Part Number:</strong>
                                    <span id="part-number">IBKAD2-313-30015-F0-ND</span>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <strong>Manufacturer Name:</strong>
                                    <span id="manufacturer">Performance Motion</span>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <strong>Part Status:</strong>
                                    <span id="part-status">In progress and delivered</span>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <strong>Category:</strong>
                                    <span id="category">Electonics and Gadgets</span>
                                </div>        
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12"> 
                    <br> 
                    <code>ihs-control-panel-hamburger</code>
                        <p>Control panel with hamburger icon from icon library applied</p>
                        <div class= "control-panel well-sm">
                            <div class="hamburger-menu">
                                    <span class="ihs-icon-menu"></span> 
                             </div>
                         </div>
                        
                    <!--  <br><br>    
                    <code>ihs-frosted-box</code><br><br>
                    <p>Use Control panel container with large well class, features GO button</p>
                    <div class="well IHS-Color-G2">
                        <div class= "control-panel well-lg">
                            <button type="button" class="btn btn-go">Go</button>
                        </div>
                    </div> -->
                    <br>
                    <code>Helper class: hover on a div</code>
                    <div class="control-panel hover" data-toggle="tooltip" data-placement="left" title="tooltip on left"><p>Content goes in here</p>
                    </div>
                    <br>
                </div>

                <div class="col-lg-12">
                <br> 
                    <code>ihs-accordion</code>
                    <div class="ihs-accordion panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne"
                        data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne" href="#collapseOne">
                           <!--  <span class="icon ihs-icon-arrow"></span> -->
                          <span class="panel-title">
                              1. Now is the time for all good men
                          </span>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo"
                        data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo" href="#collapseTwo">
                          <span class="panel-title">
                              2. Now is the time again ... 
                          </span>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                     
                    </div>
                        <!-- End of Accordion Div -->
                </div>
            </div>


            <!-- /.row -->
</div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script> 

    <script>
        $('.select-menu-short').bootstrapSelect({
            'button-style': 'btn-primary',
            'field-size': 'input-sm'
        });


        function calcWidth() {
          var navwidth = 0;
          var morewidth = $('#contents .more').outerWidth(true);
          var extraWidth = $('#contents .more').data('width')
          
          $('#contents > li:not(.more)').each(function() {
              navwidth += $(this).outerWidth( true );
          });
          
          var availablespace = $('#advanced').outerWidth(true) - (morewidth + extraWidth);
          
          if (navwidth > availablespace) {
            var lastItem = $('#contents > li:not(.more)').last();
            lastItem.attr('data-width', lastItem.outerWidth(true));
            lastItem.prependTo($('#contents .more ul.menu-hidden'));
            calcWidth();
          
          } else {
            var firstMoreElement = $('#contents li.more li').first();
            
            if (navwidth + firstMoreElement.data('width') < availablespace) {
              firstMoreElement.insertBefore($('#contents .more'));
            }
          
          }
          
          if ($('.more li').length > 0) {
            $('.more').css('display','inline-block');
          
          } else {
            $('.more').css('display','none');
          
          }
        }
        
        $(window).on('resize load',function(){
          calcWidth();
        });


        function toggleChevron(e) {
            $(e.target)
                    .prev('.panel-heading')
                    .find(".panel-title")
                    .toggleClass('chevron-open');
            }
            
            $('.ihs-accordion').on('hidden.bs.collapse', toggleChevron);
            $('.ihs-accordion').on('shown.bs.collapse', toggleChevron);
    </script>

    

</body>

</html>
