<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Library designed for displaying and referencing building blocks for our software applications across the IHS Enterprise. Based off the Atomic Design model for atoms, molecules and organisms and leveraging
    Bootstrap as the main framework and refernced CSS classes">
        
    <meta name="author" content="Rob Seaman">

    <title>IHS Pattern Library - All Specs</title>

    

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/styles.css">
    
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="spec-wrapper">
    <hr class="pl">
    <h2>Colors</h2>
    <div class="swatches">
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-H1"></span>
      <code>IHS-Color-H1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H2"></span>
      <code>IHS-Color-H2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H3"></span>
      <code>IHS-Color-H3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H4"></span>
      <code>IHS-Color-H4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H5"></span>
      <code>IHS-Color-H5</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H6"></span>
      <code>IHS-Color-H6</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H7"></span>
      <code>IHS-Color-H7</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-H8"></span>
      <code>IHS-Color-H8</code>
    </li>
    </ul>
  <p>Colors for selectors, form field and disabled buttons</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-O1"></span>
      <code>IHS-Color-O1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O2"></span>
      <code>IHS-Color-O2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O3"></span>
      <code>IHS-Color-O3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-O4"></span>
      <code>IHS-Color-O4</code>
    </li>
   </ul>
  <p>Colors for buttons (normal / emphasis)</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-BN1"></span>
      <code>IHS-Color-BN1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BN2"></span>
      <code>IHS-Color-BN2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BN3"></span>
      <code>IHS-Color-BN3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BE1"></span>
      <code>IHS-Color-BE1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BE2"></span>
      <code>IHS-Color-BE2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BG1"></span>
      <code>IHS-Color-BG1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-BG2"></span>
      <code>IHS-Color-BG2</code>
    </li>
   </ul>
   <p>General colors for text and else</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-G1"></span>
      <code>IHS-Color-G1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G2"></span>
      <code>IHS-Color-G2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G3"></span>
      <code>IHS-Color-G3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G4"></span>
      <code>IHS-Color-G4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G5"></span>
      <code>IHS-Color-G5</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G6"></span>
      <code>IHS-Color-G6</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G7"></span>
      <code>IHS-Color-G7</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G8"></span>
      <code>IHS-Color-G8</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G9"></span>
      <code>IHS-Color-G9</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G10"></span>
      <code>IHS-Color-G10</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-G11"></span>
      <code>IHS-Color-G11</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G12"></span>
      <code>IHS-Color-G12</code>
    </li> 
    <li>
      <span class="swatch-color IHS-Color-G13"></span>
      <code>IHS-Color-G13</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-G14"></span>
      <code>IHS-Color-G14</code>
    </li> 
   </ul>
   <p>Colors for Workspace Tiles</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-T1"></span>
      <code>IHS-Color-T1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T2"></span>
      <code>IHS-Color-T2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T3"></span>
      <code>IHS-Color-T3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T4"></span>
      <code>IHS-Color-T4</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-T5"></span>
      <code>IHS-Color-T5</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T6"></span>
      <code>IHS-Color-T6</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T7"></span>
      <code>IHS-Color-T7</code>
    </li> 
     <li>
      <span class="swatch-color IHS-Color-T8"></span>
      <code>IHS-Color-T8</code>
    </li> 
   </ul>
    <p>Colors for Highlighting</p>
    <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-L1"></span>
      <code>IHS-Color-L1</code>
     </li>
     <li> 
      <span class="swatch-color IHS-Color-L2"></span>
      <code>IHS-Color-L2</code>
     </li>
     <li> 
      <span class="swatch-color IHS-Color-L3"></span>
      <code>IHS-Color-L3</code>
    </li>
    </ul>
     <p>Colors for Notifications</p>
  <ul class="swatches-list">
    <li>
      <span class="swatch-color IHS-Color-N1"></span>
      <code>IHS-Color-N1</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N2"></span>
      <code>IHS-Color-N2</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N3"></span>
      <code>IHS-Color-N3</code>
    </li>
    <li>
      <span class="swatch-color IHS-Color-N4"></span>
      <code>IHS-Color-N4</code>
    </li>
    </ul>
    <hr class="pl">
    <h2>Typography</h2>
        <h1>IHS-Type-Headline-1</h1>
        <h2>IHS-Type-Headline-2</h2>
        <h2 class="type-return-title">IHS-Type-Return-Title</h2>
            <h2 class="type-return-title">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
            </h2>
        
        <p>IHS-Type-Body<br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <small>IHS-Type-Special-Use</small><br>
        <small>
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </small>
        
    <hr class="pl">
    <h2>Buttons</h2>
    <ul>
    <li>
    <button type="button" class="btn btn-default">This is a Standard Button</button>
    <button type="button" class="btn btn-deemphasized">Button Text</button>
    <button type="button" class="btn btn-inactive">Button Text</button>
    <button type="button" class="btn btn-warning">Button Text</button>
    <button type="button" class="btn btn-go">Button Text</button>
    <br>
    IHS-Button-
    (Standard, Deemphasized-Standard, Inactive-Standard, Caution-Standard, Go-Standard)
    </li><br />
    <li>
    <button type="button" class="btn btn-default btn-sm">This is a Standard Button</button>
    <button type="button" class="btn btn-deemphasized btn-sm ">Button Text</button>
    <button type="button" class="btn btn-inactive btn-sm ">Button Text</button>
    <button type="button" class="btn btn-warning btn-sm">Button Text</button>
    <button type="button" class="btn btn-go btn-sm">Button Text</button>

    <!-- <br>
    <br>
        <button type="button" class="btn btn-default btn-sm">Next
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>

    <br> -->
    IHS-Button-
    (Short, Deemphasized-Short, Inactive-Short, Caution-Short, Go-Short)</li><br />
    <li>
    <button type="button" class="btn btn-default btn-xs small">This is a Standard Button</button>
    <button type="button" class="btn btn-deemphasized btn-xs small">Button Text</button>
    <button type="button" class="btn btn-inactive btn-xs small">Button Text</button>
    <button type="button" class="btn btn-warning btn-xs small">Button Text</button>
    <button type="button" class="btn btn-go btn-xs small">Button Text</button>
    <br>
    IHS-Button-
    (Mini, Deemphasized-Mini, Inactive-Mini, Caution-Mini, Go-Mini)</li>
    </ul>
    <hr class="pl">
    <h2>Forms</h2>
    <ul>
    <li>IHS-Form-Field-Standard</li>
    <br>
        <form class="form-inline" role="form">
        <div class="form-group">
            <label>Text Input</label>
            <input class="form-control" id="" name=""><span class="required"></span>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        </form>
        <div class="form-group">
            <label>Text Input with Placeholder</label>
            <input class="form-control" placeholder="Enter text">
        </div>
   
    <li>IHS-Form-Field-Standard-Short</li>
    <br>
        <div class="form-group">
            <label>Text Input Short Box</label>
            <input class="form-control short" id="">
            <p class="help-block">Example block-level help text here.</p>
        </div>
   
    <li>IHS-Selector-Check-Binary-10</li>
        <div class="form-group">
            <div class="checkbox-size-10">
                <input type="checkbox" value="" id="checkbox-1">
                <label for="checkbox-1">
                  Checkbox 1
                </label>
            </div>
            <div class="checkbox-size-10">
                <input type="checkbox" id="checkbox-2" value="">
                <label for="checkbox-2">
                  Checkbox 2
                </label>
            </div>
            <div class="checkbox-size-10">
                 <input type="checkbox" id="checkbox-3" value="">
                <label for="checkbox-3">
                   Checkbox 3
                </label>
            </div>
        </div>
    <li>IHS-Selector-Check-Binary-12</li>
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" value="" id="checkbox-4">
                <label for="checkbox-4">
                    Checkbox 1
                </label>
                
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox-5" value="">
                <label for="checkbox-5">
                    Checkbox 2
                </label>
            </div>
            <div class="checkbox">
                 <input type="checkbox" id="checkbox-6" value="">
                <label for="checkbox-6">
                   Checkbox 3
                </label>
            </div>
        </div>

    <li>IHS-Selector-Check-Three-Way-10   </li>
        <div class="form-group">
            <div class="checkbox-size-10">
                <input type="checkbox" id="checkall10">
                <label for="checkall10">
                    Check all
                </label>
           </div>
           <div class="checkbox-size-10">
                <input type="checkbox" id="check-1" class="thing10" value="">
                <label for="check-1">
                    Checkbox 1
                </label>
            </div>
            <div class="checkbox-size-10">
                <input type="checkbox" id="check-2" class="thing10" value="">
                <label for="check-2">
                    Checkbox 2
                </label>
            </div>
            <div class="checkbox-size-10">
                <input type="checkbox" id="check-3" class="thing10" value="">
                <label for="check-3">
                    Checkbox 3
                </label>
            </div>
        </div>
 
    <li>IHS-Selector-Check-Three-Way-12   </li>
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="checkall" class="thing">
                <label for="checkall">
                    Check all
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check-4" class="thing" value="">
                <label for="check-4">
                    Checkbox 1
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check-5" class="thing" value="">
                <label for="check-5">
                    Checkbox 2
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check-6" class="thing" value="">
                <label for="check-6">
                    Checkbox 3
                </label>
            </div>
 
    <li>ihs-selector-dropdown-standard</li>
            <select class="form-control ihs-select-menu">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
    
    <li>ihs-selector-dropdown-short    </li>
        <select class="form-control short">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

    <li>IHS-Selector-Radio-10 </li>
        <div class="form-group">
            <div class="radio-size-10">
                <input type="radio" id="radio-1" value="1" name="demo">
                <label for="radio-1">
                    Radio 1
                </label>
            </div>
            <div class="radio-size-10">
            <input type="radio" id="radio-2" value="2" name="demo">
                <label for="radio-2">
                    Radio 2
                </label>
            </div>
            <div class="radio-size-10">
            <input type="radio" id="radio-3" value="3" name="demo">
                <label for="radio-3">
                    Radio 3
                </label>
            </div>
        </div>
   
    <li>IHS-Selector-Radio-12 </li>
        <div class="form-group">
            <div class="radio">
                <input type="radio" id="radio-4" value="1" name="demo">
                <label for="radio-4">
                    Radio 1
                </label>
            </div>
            <div class="radio">
            <input type="radio" id="radio-5" value="2" name="demo">
                <label for="radio-5">
                    Radio 2
                </label>
            </div>
            <div class="radio">
            <input type="radio" id="radio-6" value="3" name="demo">
                <label for="radio-6">
                    Radio 3
                </label>
            </div>
        </div> 
   
    </ul>
    <hr class="pl">
    <h2>Alerts and Notifications</h2>
    <ul>
    <li>IHS-Alert-Info </li>
        <div class="alert alert-info">
            <strong>Oh!</strong>
                    This is an informative message
        </div>
  
    <li>IHS-Alert-Info-Dismissible </li>
         <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh!</strong>
                    This is an informative message
          </div>
 
    <li>IHS-Alert-Warning </li>
        <div class="alert alert-warning">
                     <strong>Uh Oh!</strong>
                    This is a warning message
        </div>
    
    <li>IHS-Alert-Warning-Dismissible </li>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             <strong>Uh Oh!</strong>
                    This is a warning message
        </div>
   
    <li>IHS-Alert-Success </li>
         <div class="alert alert-success">
                     <strong>Well Done!</strong>
                    This is alerting you of a success message
         </div>
   
    <li>IHS-Alert-Success-Dismissible </li>
            <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Well Done!</strong>
                    This is alerting you of a success message
            </div>
  
    <li>IHS-Alert-Danger </li>
             <div class="alert alert-danger">
                    <strong>Darn!</strong>
                    This is an error message
              </div>

    <li>IHS-Alert-Danger-Dismissible </li>
         <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Darn!</strong>
                    This is an error message
          </div>
  
    </ul>
    
    <hr class="pl">
    <h2>Modals</h2>
    <ul class="modals">
    <li>IHS-Modal-1 </li>
        <div class="modal-dialog modal-1">
            <div class="modal-content">
                 <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>

        <!-- /.modal-dialog -->
   
    <li>IHS-Modal-2 </li>
    <div class="modal-dialog modal-2">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>

    <li>IHS-Modal-3 </li>
    <div class="modal-dialog modal-3">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                     
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    <li>IHS-Modal-4 </li>
    <div class="modal-dialog modal-4">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                     
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
   
    <li>IHS-Modal-5 </li>
    <div class="modal-dialog modal-5">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                     
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    <li>IHS-Modal-6 </li>
    <div class="modal-dialog modal-6">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                     
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    <li>IHS-Modal-7 </li>
    <div class="modal-dialog modal-7">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="ihs-icon-x"></span>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h3 class="modal-title">Test Header</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                     
                </div>
            </div>
            <!-- /.modal-content -->
        </div>   
    
    </ul>
    <hr class="pl">
    <h2>Images and Icons</h2>
    <div class="icons">
    <span class="ihs-icon-x"></span>
    <span class="ihs-icon-arrow"></span>
    <span class="ihs-icon-infinity"></span>
    <span class="ihs-icon-toggle-bubble-on"></span>
    <span class="ihs-icon-toggle-bubble-off"></span>
    <span class="ihs-icon-toggle-list-on"></span>
    <span class="ihs-icon-toggle-list-off"></span>
    <span class="ihs-icon-language-de"></span>
    <span class="ihs-icon-language-en"></span>
    <span class="ihs-icon-language-fr"></span>
    <span class="ihs-icon-language-jp"></span>
    <span class="ihs-icon-language-ch"></span>
    <span class="ihs-icon-language-ru"></span>
    <span class="ihs-icon-language-mix"></span>
    <span class="ihs-icon-chevron-full"></span>
    <span class="ihs-icon-chevron"></span>
    <span class="ihs-icon-admin"></span>
    <span class="ihs-icon-info"></span>
    <span class="ihs-icon-stripe-1"></span>
    <span class="ihs-icon-stripe-2"></span>
    <span class="ihs-icon-stripe-3"></span>
    <span class="ihs-icon-annotate"></span>
    <span class="ihs-icon-checkbox-checked"></span>
    <span class="ihs-icon-checkbox-unchecked"></span>
    <span class="ihs-icon-checkbox-halfchecked"></span>
    <span class="ihs-icon-radio-unchecked"></span>
    <span class="ihs-icon-radio-checked"></span>
    <!-- <span class="ihs-icon-user"></span> -->
    <span class="ihs-icon-help"></span>
    <span class="ihs-icon-logo"></span>
    <span class="ihs-icon-search"></span>
    <span class="ihs-icon-settings"></span>
    <span class="ihs-icon-protected-access"></span>
    <span class="ihs-icon-shopping-cart"></span>
     <span class="ihs-icon-discover"></span>
     <span class="ihs-icon-patents"></span>
     <span class="ihs-icon-researcher"></span>
     <span class="ihs-icon-root"></span>
     <span class="ihs-icon-four-sided-arrow"></span>
     <span class="ihs-icon-pin"></span>
     <!-- <span class="ihs-icon-grid"></span> -->
     <span class="ihs-icon-menu"></span>
     <span class="ihs-icon-color"></span>
     <span class="ihs-icon-radio-unchecked"></span>
     <span class="ihs-icon-feedback"></span>
     <span class="ihs-icon-calendar"></span>
     <span class="ihs-icon-arrow-drag"></span>
     <span class="ihs-icon-circles"></span>
     <span class="ihs-icon-folder-open"></span><br>
    <span class="ihs-icon-folder-closed"></span><br>
     </div>
    <hr class="pl">
    <h2>Panels, Nav and Tabs</h2>
    <ul>
    <li>IHS-Control-Panel</li>
         <div class= "control-panel well-sm">
                        <button type="button" class="btn btn-default">Button 1</button>
                        <button type="button" class="btn btn-default shim-right">Button 2</button>
                        <button type="button" class="btn btn-emphasis">Emphasis Button</button>
                        <button type="button" class="btn btn-default">Button 1</button>
          </div>
     <li>IHS-Control-Panel-Short</li>
          <div class= "control-panel well-sm">
                        <button type="button" class="btn btn-default btn-sm">Button 1</button>
                        <button type="button" class="btn btn-default btn-sm shim-right">Button 2</button>
                        <button type="button" class="btn btn-emphasis btn-sm">Emphasis Button</button>
                        <button type="button" class="btn btn-default btn-sm">Button 1</button>
          </div>
   
    <li>IHS-Control-Panel-Advanced or IHS-Control-Panel-Full</li>
        <div class= "control-panel well-sm">
                                      
          </div> 

    <br>
    <li><i>Container - Info Panel (for BOMM Patterns)</i></li>
     <div class="control-panel">
     <div class="row">       
                <div class="col-xs-3 col-md-3">
                    <strong>Part Number:</strong>
                    <span id="part-number">IBKAD2-313-30015-F0-ND</span>
                </div>
                <div class="col-xs-3 col-md-3">
                    <strong>Manufacturer Name:</strong>
                    <span id="manufacturer">Performance Motion</span>
                </div>
                <div class="col-xs-3 col-md-3">
                    <strong>Part Status:</strong>
                    <span id="part-status">In progress and delivered</span>
                </div>
                <div class="col-xs-3 col-md-3">
                    <strong>Category:</strong>
                    <span id="category">Electonics and Gadgets</span>
                </div>        
        </div>
    </div>
    <br>
  
    <li>IHS-Tabbed-Sub-Nav </li>
        <div class="panel panel-default">
                        
                        
                         <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Home</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">Profile</a>
                                </li>
                                <li><a href="#messages" data-toggle="tab">Messages</a>
                                </li>
                                <li><a href="#settings" data-toggle="tab">Settings</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <h4>Home Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <h4>Profile Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="messages">
                                    <h4>Messages Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="settings">
                                    <h4>Settings Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        
    </div>
   
    <li>IHS-Hamburger </li>
        <div class= "control-panel well-sm">
           <div style="width: 24px; height: 24px; border-radius: 4px;
           background-color: #0066B3; color: #fff; font-size: 16px;
           text-align: center; padding-top: 4px;">
           <span class="ihs-icon-menu"></span> 
           </div>
        </div>
    
    <li>IHS-Pagination-Standard-Less </li>
        <nav>
            <ul class="pagination">
                <li><a href="#"><span class="ihs-icon-chevron"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span class="ihs-icon-chevron rotate-180"></span></a></li>
            </ul>
        </nav> 
  
    <li>IHS-Pagination-Standard-More  (Advanced) </li>
        <nav>
            <ul class="pagination">
                <li><a href="#"><span class="ihs-icon-chevron-full"></span></a></li>
                <li><a href="#"><span class="ihs-icon-chevron"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><span class="ihs-icon-chevron rotate-180"></span></a></li>
                <li><a href="#"><span class="ihs-icon-chevron-full rotate-180"></span></a></li>
            </ul>
        </nav> 
   
    <li>IHS-Pagination-Short-Less </li>
        <nav>
            <ul class="pagination short small">
                <li><a href="#"><span class="ihs-icon-chevron"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="ihs-icon-chevron rotate-180"></span></a></li>
            </ul>
        </nav>        
  
    <li>IHS-Pagination-Short-More  (Advanced)  </li>
        <nav>
            <ul class="pagination short small">
                <li><a href="#"><span class="ihs-icon-chevron-full"></span></a></li>
                <li><a href="#"><span class="ihs-icon-chevron"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><span class="ihs-icon-chevron rotate-180"></span></a></li>
                <li><a href="#"><span class="ihs-icon-chevron-full rotate-180"></span></a></li>
            </ul>
        </nav>        
  
    </ul>
    <hr class="pl">
    <h2>Widgets</h2>
    <ul>
    <li>IHS-Scroll </li>
        <div class="sample-content" data-mcs-theme="light-3">
         <p class="filler">
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
         <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
         <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>End of content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>End of content.</p>
        </div>
    <li>IHS-Scroll-Special-Use </li>
        <div class="sample-content" data-mcs-theme="dark-3">
         <p class="filler">
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
         <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
         <p>
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </p>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>End of content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        <p>End of content.</p>
        </div>
 
    
  
    <li>IHS-Tool-Tip </li>
        <div class="tooltip-demo">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on left">Tooltip on right</button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on right">Tooltip on left</button>
        </div>

    <li>IHS-Pop-Over </li>
        <div class="tooltip-demo">
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Text that showed up left">
                Popover on left
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Text that showed up at top">
                Popover on top
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Text that showed up at bottom">
                Popover on bottom
            </button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Text that showed up right">
                Popover on right
            </button>
            <button type="button" class="btn btn-warning" data-toggle="popover" title="Popover title" data-content="And here's a great example of a message in panel body">Click to toggle popover</button>
        </div>
   
    <li>IHS-Calendar </li>
        <div class="well clearfix">   
            <div class="form group input-group">
            <input type="text" class="form-control" value="10/16/2015" data-date-format="mm/dd/yyyy" id="ew-date-picker">
            <span class="input-group-addon" id="ew-date-picker"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    <li>IHS-Tile </li>
        <div class="clearfix">
        <div class="ew-tile IHS-Color-G9 color-black left">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>News</h2>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        <hr class="dashed">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="ew-tile IHS-Color-T7 color-white">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>News</h2>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                    </div>
                </div>
            </div>
    <br>
    <li>IHS-Toggle</li>
    <p class="clearfix">Toggle with Bubble selector</p>
   <div class="toggle-switch-bubble">
        <input type="checkbox" id="toggle-bubble" value="">
        <label for="toggle-bubble"></label>
    </div>
    <p>Toggle with List selector</p>
    <div class="toggle-switch-list">
        <input type="checkbox" id="toggle-list" value="">
        <label for="toggle-list"></label>
   </div>
</ul>  

<p><br></p><p><br></p><p><br></p>
</div>

<footer>IHS Inc.</footer>



    <!-- jQuery -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Calendar / Date Picker -->
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script>
    $( document ).ready(

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
        $("#accordion .panel-body").mCustomScrollbar({
            setHeight:250,
            theme:"dark-3"});
    })

    );

    (function($){
        $(window).load(function(){
            $(".sample-content").mCustomScrollbar({
                axis:"xy",
                theme:"dark-3",
                scrollButtons:{
                    enable:true
                }
            });
        });
    })(jQuery);       


    /*
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
    var checkin = $('#ew-datepicker').datepicker({
        onRender: function(date) {
        return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function(ev) {
    if (ev.date.valueOf() > checkout.date.valueOf()) {
        var newDate = new Date(ev.date)
        newDate.setDate(newDate.getDate() + 1);
        checkout.setValue(newDate);
    }
    checkin.hide();*/

    /*
    $('#ew-datepicker').datepicker()
          .on('changeDate', function(ev){

            if (ev.date.valueOf() < startDate.valueOf()){
              ....
            }
    });*/

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
 
    var checkin = $('#ew-date-picker').datepicker({
        onRender: function(date) {
        return date.valueOf() < now.valueOf() ? 'disabled' : '';
         }
        }).on('changeDate', function(ev) {
          if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
          }
         checkin.hide();
   }).data('datepicker');

    var checkboxes = document.querySelectorAll('input.thing'),
    checkall = document.getElementById('checkall');

    for(var i=0; i<checkboxes.length; i++) {
        checkboxes[i].onclick = function() {
            var checkedCount = document.querySelectorAll('input.thing:checked').length;
            
            checkall.checked = checkedCount > 0;
            checkall.indeterminate = checkedCount > 0 && checkedCount < checkboxes.length;
        }
    }

    checkall.onclick = function() {
        for(var i=0; i<checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    }

    var checkboxes10 = document.querySelectorAll('input.thing10'),
    checkall10 = document.getElementById('checkall10');

    for(var i=0; i<checkboxes10.length; i++) {
        checkboxes10[i].onclick = function() {
            var checkedCount = document.querySelectorAll('input.thing10:checked').length;
            
            checkall10.checked = checkedCount > 0;
            checkall10.indeterminate = checkedCount > 0 && checkedCount < checkboxes.length;
        }
    }

    checkall10.onclick = function() {
        for(var i=0; i<checkboxes10.length; i++) {
            checkboxes10[i].checked = this.checked;
        }
    }
   
    </script>
    
</body>

</html>