<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IHS Pattern Library - V1</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/styles.css">    
    <!-- Custom Fonts -->
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="https://cdn.ihs.com/Technology/images/ux/ihs-icon-logo.svg"></a>
                <a href="index.html"><h2>IHS Pattern Library - Version 1</h2></a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="atomic">Atoms</li>
                    <li>
                        <a href="colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                     <li>
                        <a href="iconography.html">Icons / Images</a>
                    </li>
                    <li>
                        <a href="forms.html">Forms</a>
                    </li>
                    <li>
                        <a href="tables.html">Tables</a>
                    </li>
                    <li class="atomic">Molecules</li>
                    <li>
                        <a href="menus-tabs-nav.html">Menus, Tabs, Nav</a>
                    </li>
                     <li>
                        <a href="widgets.html">Widgets</a>
                    </li>
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                     <li>
                        <a href="alerts-modals.html">Alerts and Modals</a>
                    </li>
                    <li class="atomic">Organisms</li>
                    <li>
                        <a href="patterns.html">Patterns</a>
                    </li>
                     <li>
                        <a href="charts.html">Charts and Graphs</a>
                    </li>
                     <li>
                        <a href="grids.html">Grids</a>
                    </li>
                    <li class="atomic">Pages/Templates</li>
                    <li>
                        <a href="templates.html">Pages and Templates</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Typography</h1>
<!-- <table class="table table-bordered table-hover table-striped">
<thead>
<tr>
<th>Design Pattern Name</th>
<th>Development Class Name</th>
<th>Link to Pattern</th>
<th>Platform</th>
</tr>
</thead>
<tbody>
<tr>
<td>IHS-Type-Headline-1</td>
<td><code>&lt;h1&gt;</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Type-Headline-2</td>
<td><code>&lt;h2&gt;</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Type-Return-Title</td>
<td><code>.type-return-title</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Type-Special-Use</td>
<td><code>&lt;small&gt;</code></td>
<td></td>
<td></td>
</tr>
<tr>
<td>IHS-Type-Body</td>
<td><code>* All HTML typography tags that aren't specified above</code></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>       -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <code>ihs-type-headline-1</code>
                            <h1> Here is a Header Example</h1>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                            
                    </div>
                    <div class="col-lg-4">
                            <blockquote>Helvetica 1 em  // 16px<br/>
                            Color = @IHS-Color-G5<br/>
                            Line-height = Single line use only // 16px<br/>
                            Links = links not allowed <br/>
                            Approved variants: Bold
                            </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <code>ihs-type-headline-2</code>
                            <h2>Here is a Header Example</h2>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                            
                    </div>
                    <div class="col-lg-4">
                            <blockquote>Helvetica .875 em // 14px <br/>
                            Color = @IHS-Color-G5<br/>
                            Line-height = Single line use only // 14px <br/>
                            Links = links not allowed <br/>
                            Approved variants: Bold
                            </blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <code>ihs-type-return-title</code>
                            <h2 class="type-return-title">Here is Header Example and it wrapping ..</h2>
                            <h2 class="type-return-title">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
                            </h2>
                    </div>
                    <div class="col-lg-4">
                            <blockquote>Helvetica .875 em  // 14px<br/>
                            Color = @IHS-Color-G5<br/>
                            Line-height = Can wrap // 16px <br />
                            Can be normal or bold
                            ￼</blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <br/><br />
                            <code>ihs-type-special-use</code>
                            <small>
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </small>
                    </div>
                    <div class="col-lg-4">
                            <blockquote>Helvetica .625 em  // 10px<br/>
                            Color = @IHS-Color-G5<br/>
                            Line-height = .75 em <br/>
                            Links = @IHS-Color-G1 underline on hover<br />
                            Approved variants: Light, Regular, Bold, Italic/Oblique, Underline
                            ￼</blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <code>ihs-type-body</code>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                           
                    </div>
                    <div class="col-lg-4">
                            <blockquote>Helvetica .75 em // 12px<br/>
                            Color = @IHS-Color-G5<br/>
                            Line-height = 1 em // 16px<br/>
                            Links = @IHS-Color-G1 underlined on hover, @IHS-Color-G3 visited<br/>
                            Approved variants: Regular Oblique, Bold, Underline
                            </blockquote>
                    </div>
                </div>
                <div class="row">
                            <div><br /></div>
                <div class="col-lg-12">
<pre>
<code>
&lt;h1&gt; ... &lt;/h1&gt; 
&lt;h2&gt; ... &lt;/h2&gt; 
&lt;h2 class=&quot;type-return-title&quot;&gt; ... &lt;/h2&gt;
&lt;small&gt; ... &lt;/small&gt;
&lt;p&gt; ... &lt;a href=&quot;#&quot;&gt; ... &lt;/a&gt; ... &lt;/p&gt;
</code>
</pre>
                   </div>
                <!-- /.col-lg-12 -->

                </div>
            <!-- /.row -->
<div class="dont-show">
            <div class="row">
                    <div class="col-lg-12">
                    <hr class="pl">
                    <h3>Atoms - Pattern Library Generic</h3>
                    </div>
            </div>
            <div class="row masonrow">

                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Headings
                        </div>
                        <div class="panel-body">
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3 class="text-muted">Heading 3</h3>
                            <h4 class="text-muted">Heading 4</h4>
                            <h5 class="text-muted">Heading 5</h5>
                            <h6 class="text-muted">Heading 6</h6>
                        
<pre>
<code>
&lt;h1&gt;Heading 1&lt;/h1&gt; 
&lt;h2&gt;Heading 2&lt;/h2&gt; 
&lt;h3&gt;Heading 3&lt;/h3&gt; 
&lt;h4&gt;Heading 4&lt;/h4&gt; 
&lt;h5&gt;Heading 5&lt;/h5&gt; 
&lt;h6&gt;Heading 6&lt;/h6&gt;
</code>
</pre>
                        </div>
                        <div class="panel-body">
                            <h1>Heading 1
                                <small>Sub-heading</small>
                            </h1>
                            <h2>Heading 2
                                <small>Sub-heading</small>
                            </h2>
                            <h3>Heading 3
                                <small>Sub-heading</small>
                            </h3>
                            <h4>Heading 4
                                <small>Sub-heading</small>
                            </h4>
                            <h5>Heading 5
                                <small>Sub-heading</small>
                            </h5>
                            <h6>Heading 6
                                <small>Sub-heading</small>
                            </h6>
                        
<pre>
<code>
&lt;h1&gt;Heading 1 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h1&gt; 
&lt;h2&gt;Heading 2 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h2&gt; 
&lt;h3&gt;Heading 3 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h3&gt; 
&lt;h4&gt;Heading 4 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h4&gt; 
&lt;h5&gt;Heading 5 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h5&gt; 
&lt;h6&gt;Heading 6 &lt;small&gt;Sub-heading&lt;/small&gt; &lt;/h6&gt;
</code>
</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Paragraphs
                        </div>
                        <div class="panel-body">
                            <p class="lead">This is an example of lead body copy.</p>
                            <p>This is an example of standard paragraph text. This is an example of <a href="#">link anchor text</a> within body copy.</p>
                            <p>
                                <small>This is an example of small, fine print text.</small>
                            </p>
                            <p>
                                <strong>This is an example of strong, bold text.</strong>
                            </p>
                            <p>
                                <em>This is an example of emphasized, italic text.</em>
                            </p>
                            <br>
                            <h4>Alignment Helpers</h4>
                            <p class="text-left">Left aligned text.</p>
                            <p class="text-center">Center aligned text.</p>
                            <p class="text-right">Right aligned text.</p>
                       
<pre>
<code>
&lt;p class=&quot;lead&quot;&gt;This is an example of lead body copy.&lt;/p&gt;

&lt;p&gt;This is an example of standard paragraph text. This is an example of &lt;a href=&quot;#&quot;&gt;link anchor text&lt;/a&gt; within body copy.&lt;/p&gt;

&lt;small&gt;This is an example of small, fine print text.&lt;/small&gt;

&lt;strong&gt;This is an example of strong, bold text.&lt;/strong&gt;

&lt;em&gt;This is an example of emphasized, italic text.&lt;/em&gt;

&lt;p class=&quot;text-left&quot;&gt;Left aligned text.&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;Center aligned text.&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;Right aligned text.&lt;/p&gt;
</code>
</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lists
                        </div>
                        <div class="panel-body">
                            <h4>Unordered List</h4>
                            <ul>
                                <li>List Item</li>
                                <li>List Item</li>
                                <li>List Item
                                    <ul>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                    </ul>
                                </li>
                                <li>List Item</li>
                            </ul>
<pre>
<code>
&lt;ul&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item
    &lt;ul&gt;
        &lt;li&gt;List Item&lt;/li&gt;
        &lt;li&gt;List Item&lt;/li&gt;
        &lt;li&gt;List Item&lt;/li&gt;
    &lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
                            <h4>Ordered List</h4>
                            <ol>
                                <li>List Item</li>
                                <li>List Item</li>
                                <li>List Item</li>
                            </ol>
<pre>
<code>
&lt;ol&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;/ol&gt;
</code>
</pre>
                            <h4>Unstyled List</h4>
                            <ul class="list-unstyled">
                                <li>List Item</li>
                                <li>List Item</li>
                                <li>List Item</li>
                            </ul>
<pre>
<code>
&lt;ul class=&quot;list-unstyled&quot;&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
                            <h4>Inline List</h4>
                            <ul class="list-inline">
                                <li>List Item</li>
                                <li>List Item</li>
                                <li>List Item</li>
                            </ul>
<pre>
<code>
&lt;ul class=&quot;list-inline&quot;&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;li&gt;List Item&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
           
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Abbreviations
                        </div>
                        <div class="panel-body">
                            <p>The abbreviation of the word attribute is
                                <abbr title="attribute">attr</abbr>.</p>
                            <p>
                                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is an abbreviation for a programming language.</p>
<pre>
<code>
&lt;p&gt;The abbreviation of the word attribute is
&lt;abbr title=&quot;attribute&quot;&gt;attr&lt;/abbr&gt;.&lt;/p&gt;
&lt;p&gt;

&lt;abbr title=&quot;HyperText Markup Language&quot; class=&quot;initialism&quot;&gt;HTML&lt;/abbr&gt; is an abbreviation for a programming language.&lt;/p&gt;
</code>
</pre>
                            <br>
                            <h4>Addresses</h4>
                            <address>
                                <strong>Twitter, Inc.</strong>
                                <br>795 Folsom Ave, Suite 600
                                <br>San Francisco, CA 94107
                                <br>
                                <abbr title="Phone">P:</abbr>(123) 456-7890
                            </address>
                            <address>
                                <strong>Full Name</strong>
                                <br>
                                <a href="mailto:#">first.last@example.com</a>
                            </address>
<pre>
<code>
&lt;address&gt;
&lt;strong&gt;Twitter, Inc.&lt;/strong&gt;
&lt;br&gt;795 Folsom Ave, Suite 600
&lt;br&gt;San Francisco, CA 94107
&lt;br&gt;
&lt;abbr title=&quot;Phone&quot;&gt;P:&lt;/abbr&gt;(123) 456-7890
&lt;/address&gt;

&lt;address&gt;
&lt;strong&gt;Full Name&lt;/strong&gt;
&lt;br&gt;
&lt;a href=&quot;mailto:#&quot;&gt;first.last@example.com&lt;/a&gt;
&lt;/address&gt;
</code>
</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Blockquotes
                        </div>
                        <div class="panel-body">
                            <h4>Default Blockquote</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote>
                            <h4>Blockquote with Citation</h4>
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </small>
                            </blockquote>
                            <h4>Right Aligned Blockquote</h4>
                            <blockquote class="pull-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            </blockquote>
<br />
<pre>
<code>
&lt;blockquote&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;

&lt;blockquote&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;small&gt;Someone famous in
&lt;cite title=&quot;Source Title&quot;&gt;Source Title&lt;/cite&gt;
&lt;/small&gt;
&lt;/blockquote&gt;

&lt;blockquote class=&quot;pull-right&quot;&gt;
&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;
</code>
</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="item">

                <div class="panel panel-default">
                        <div class="panel-heading">
                            Emphasis Classes
                        </div>
                        <div class="panel-body">
                            <p class="text-muted">This is an example of muted text.</p>
                            <p class="text-primary">This is an example of primary text.</p>
                            <p class="text-success">This is an example of success text.</p>
                            <p class="text-info">This is an example of info text.</p>
                            <p class="text-warning">This is an example of warning text.</p>
                            <p class="text-danger">This is an example of danger text.</p>
                        
                    
<pre>
<code>
&lt;p class=&quot;text-muted &quot;&gt;This is an example of muted text.&lt;/p&gt;
&lt;p class=&quot;text-primary&quot;&gt;This is an example of primary text.&lt;/p&gt;
&lt;p class=&quot;text-success&quot;&gt;This is an example of success text.&lt;/p&gt;
&lt;p class=&quot;text-info&quot;&gt;This is an example of info text.&lt;/p&gt;
&lt;p class=&quot;text-warning&quot;&gt;This is an example of warning text.&lt;/p&gt;
&lt;p class=&quot;text-danger&quot;&gt;This is an example of danger text.&lt;/p&gt;
</code>
</pre>
                    </div>
                </div>
                    <!-- /.panel -->
            </div>
               
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Description Lists
                        </div>
                        <div class="panel-body">
                            <dl>
                                <dt>Standard Description List</dt>
                                <dd>Description Text</dd>
                                <dt>Description List Title</dt>
                                <dd>Description List Text</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Horizontal Description List</dt>
                                <dd>Description Text</dd>
                                <dt>Description List Title</dt>
                                <dd>Description List Text</dd>
                            </dl>
<pre>
<code>
&lt;dl&gt;
&lt;dt&gt;Standard Description List&lt;/dt&gt;
&lt;dd&gt;Description Text&lt;/dd&gt;
&lt;dt&gt;Description List Title&lt;/dt&gt;
&lt;dd&gt;Description List Text&lt;/dd&gt;
&lt;/dl&gt;

&lt;dl class=&quot;dl-horizontal&quot;&gt;
&lt;dt&gt;Horizontal Description List&lt;/dt&gt;
&lt;dd&gt;Description Text&lt;/dd&gt;
&lt;dt&gt;Description List Title&lt;/dt&gt;
&lt;dd&gt;Description List Text&lt;/dd&gt;
&lt;/dl&gt;
</code>
</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="item">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Code
                        </div>
                        <div class="panel-body">
                            <p>This is an example of an inline code element within body copy. Wrap inline code within a
                                <code>&lt;code&gt;...&lt;/code&gt;</code>tag.</p>
                            <pre>This is an example of preformatted text.</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            
</div>  

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    

</body>

</html>
