<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Pattern library</title>
	<!-- <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css"> -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
	<!-- <header class="ihs-header navbar navbar-default navbar-static-top">
		<div class="clearfix">
			<a class="brand pull-left" href="#">
				<div class="ihs-logo pull-left"></div>
			</a>
			<div class="pull-left">
				<h2>Engineering Workbench</h2>
				<small>Version 2.0</small>
			</div>
			<div class="nav-tools pull-right">
				<div class="nav-tool nav-greeting dropdown-toggle auto-width">
					<div class="nav-tool-item nav-greeting auto-width" data-toggle="dropdown">
						<span>Hi Prathamesh</span>
					</div>
					<ul class="dropdown-menu singleBasis">
						<li><a href="#">Logout</a></li>
					</ul>
				</div>
				<div class="nav-tool icon-gear">
					<div class="nav-tool-item icon-gear" data-toggle="dropdown"></div>
					<ul class="dropdown-menu rightDocked">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="nav-tool icon-user">
					<div class="nav-tool-item icon-user" data-toggle="dropdown"></div>
					<ul class="dropdown-menu centerDocked">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="nav-tool dropdown">
					<div class="nav-tool-item icon-question" data-toggle="dropdown"></div>
					<ul class="dropdown-menu leftDocked">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
			</div>
		</div>
		 <ul class="ihs-menu nav navbar-nav">
			<li class="active"><a href="#">Researcher</a></li>
			<li><a href="#">Discover</a></li>
			<li><a href="#">Rool cause analysis</a></li>
			<li><a href="#">Patent Intelligence</a></li>
			<li class="pull-right"><a href="#">My workspaces</a></li>
		</ul>
	</header> -->

	<header class="ihs-header navbar navbar-default navbar-static-top">
        <div class="clearfix">

            <div class="brand pull-left" data-href="index.html">
                <div class="ihs-logo"></div>
                <h1>Product Name</h1>
                <small>Product Version</small>
            </div>

            <ul class="icon-set nav navbar-nav">
                  <li class="icon-area">
                    <div class="icon-menu ihs-icon-help" data-toggle="dropdown"></div>
                      
                    <div class="dropdown-menu header left">
                        <ul class="menu-links">
                            <li><a href="http://www.google.com" target="_blank">Contact IHS</a></li>
                        </ul>
                        <hr>
                        <small>Americas:</small>
                        <p class="small">
                        +1 (800) 477-2273
                        </p>
                        <small>Outside the US/Canada:</small>
                        <p class="small">
                        +1 (303) 858-6187<br/>
                        Mon-Fri 8:00am to 9:00pm ET
                        </p>
                        <small>Europe, Middle East and Africa:</small>
                        <p class="small">
                        +44 1344 328 300<br>
                        Mon-Fri 8:00am to 6:00pm GMT
                        </p>
                        <small>Asia Pacific:</small>
                        <p class="small">
                        +604 291 3600<br>
                        Mon-Fri 8:00am to 6:00pm GMT +8
                        </p>
                        <p class="small">
                        <a href="mailto:customercare@ihsmarkit.com" class="email">CustomerCare@ihsmarkit.com</a>
                        </p>
                    </div>
                  </li>
                  <li class="icon-area">
                      <div class="icon-menu ihs-icon-feedback" data-toggle="dropdown"></div>  
                      <div class="dropdown-menu header">
                          <ul class="menu-links">
                              <li><a href="#/">Action</a></li>
                              <li><a href="#/">Another action</a></li>
                              <li><a href="#/">Something else here</a></li>
                              <li><a href="#/">Separated link</a></li>
                          </ul>
                      </div> 
                  </li>
                  <li class="icon-area">
                      <div class="icon-menu ihs-icon-settings" data-toggle="dropdown"></div>  
                      <div class="dropdown-menu header">
                          <ul class="menu-links">
                              <li><a href="#/">Action</a></li>
                              <li><a href="#/">Another action</a></li>
                              <li><a href="#/">Something else here</a></li>
                              <li><a href="#/">Separated link</a></li>
                          </ul>
                      </div> 
                  </li>
                   <li class="icon-area">
                      <div class="icon-menu ihs-icon-admin" data-toggle="dropdown"></div>  
                      <div class="dropdown-menu header middle">
                          <ul class="menu-links">
                              <li><a href="#/">Action</a></li>
                              <li><a href="#/">Another action</a></li>
                              <li><a href="#/">Something else here</a></li>
                              <li><a href="#/">Separated link</a></li>
                          </ul>
                      </div> 
                  </li>
                  <li class="icon-area">
                      <div class="icon-menu" data-toggle="dropdown">
                        
                        <span class="greeting">Hi User</span>
                      </div>
                       
                       <div class="dropdown-menu header right">
                          <ul class="menu-links">
                              <li><a href="#/">Logout</a></li>
                              <li><a href="#/">About Product</a></li>
                          </ul>
                      </div>
                  </li>
            </ul>
        </div>

        <ul class="ihs-menu nav navbar-nav">
             <li class="active"><a href="#/">Tab 1 Name</a></li>
              <li><a href="#/">Tab 2 Name</a></li>
              <li><a href="#/">Tab 3 Name</a></li>
              <li><a href="#/">Tab 4 Name</a></li>
              <li class="pull-right"><a href="#/">My Tab Name</a></li>
        </ul>

    </header>

	<section class="viewRoot">
	<!-- Placeholder for loading views -->
	</section>

	<footer class="navbar-fixed-bottom">                    
        <small>Copyright 2016, IHS Inc. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
        <ul>
           <li><a href="#/">About Us</a></li>
           <li>|</li>
           <li><a href="#/">Terms of Use</a></li>
           <li>|</li>
           <li><a href="#/">Privacy Policy</a></li>
        </ul>                   
	</footer>

	<!-- <footer class="navbar-fixed-bottom">
        <div class="row">
            <div class="col-lg-12">
                <small> &copy; COPYRIGHT 2016, IHS Inc. All rights reserved. Reproduction in whole or part without permission is prohibited.</small>
                <ul>
                   <li><a href="#/">About Us</a></li>
                   <li>|</li>
                   <li><a href="#/">Terms of Use</a></li>
                   <li>|</li>
                   <li><a href="#/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer> -->

	<!-- Footer -->


<!-- Javascript Scaffolding -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>